<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
    body {margin: 0;}
    </style>
</head>
<body>

<div id="WebGL-output"></div>

<script src="<%= htmlWebpackPlugin.options.PATH_LIB %>"></script>

</body>
</html>
